body {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

nav {
  color: #e9e9f3;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 325px;
  background-color: #1f1f3d;
}

h1 {
  font-size: 18px;
  padding-left: 15px;
}

.nav-box {
  padding-left: 15px;
  border: 1px #353567;
  border-style: solid none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 133px;
}

.show-btn,
.show-all-btn {
  font-weight: 600;
  font-size: 18px;
  padding-top: 4px;
  height: 35px;
  width: 200px;
  background-color: #5356a4;
  border: #353567 solid 1px;
  color: #e9e9f3;
}

.save-btn {
  font-weight: bold;
  padding-left: 5%;
  font-size: 18px;
}

.nav-title {
  font-size: small;
  color: #bfbfdd;
  margin-block: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.top-container {
  background-color: #a9aad2;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bottom-container {
  background-color: #eaeaf4;
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: auto;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 50%;
  height: 100%;
}

.input-headers {
  margin-block: 0;
  font-weight: 900;
  padding: 5px 0px;
}

.form-divs {
  display: flex;
  flex-direction: column;
}

.body-input {
  display: flex;
  height: 80px;
}

input,
textarea {
  border: 2px solid #1f1f3d;
  border-radius: 3px;
  padding: 3px;
  margin: 0;
  height: 40px;
  width: 400px;
  font-family: 'Open Sans', sans-serif;
}

.save-btn {
  background-color: #353567;
  color: #eaeaf4;
  border: 2px solid #5356a4;
  height: 40px;
  width: 410px;
  padding: 0;
}

.search-bar {
  display: flex;
  flex-direction: row;
  border: 2px solid #353567;
  border-radius: 3px;
  width: 410px;
}

.search {
  border: none;
  width: 400px;
}

.img-search {
  display: flex;
  width: 25px;
  background-color: #353567;
  padding: 8px;
}

.card {
  display: flex;
  flex-direction: column;
  border: #1f1f3d solid 2px;
  background-color: #ffffff;
  margin: 20px;
  border-radius: 2px;
  justify-content: space-between;
  height: 250px;
  width: 250px;
  position: relative;
}

.card-header,
.comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  background-color: #1f1f3d;
}

.star,
.delete {
  height: 25px;
  background-color: #1f1f3d;
}

.card-text {
  display: flex;
  overflow-wrap: break-word;
  font-size: 18px;
  padding: 7px;
  margin: 0;
  min-height: 80px;
}

.comment {
  background-color: #5356a4;
  border-top: 2px solid #1f1f3d;
}

.card-title {
  position: absolute;
  top: 20px;
}

button:hover,
.star,
.delete {
  cursor: pointer;
}

.hidden {
  display: none;
}